@model OnlineShop.ViewModels.HomeViewModel
@using OnlineShop.Infrastructure

@{
    ViewBag.Title = "Online shop";
}

<nav class="categoriesHorizontal">
    <ul>
        @foreach (var category in Model.Categories)
        {
        <li>
            <a href="@Url.Action("List","Courses", new { Name = category.Name.ToLower() })"
               style="background-image: url(@Url.CategoriesIconsPath(category.ImageName))">@category.Name</a>
        </li>
                    }
    </ul>

    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>

<section>
    <ul class="CoursesThreeColumns bigListCourses">
        @foreach (var bestseller in Model.Bestsellers)
        {
            <li>
                <article>
                    <a class="addToBasketLink" href="@Url.Action("AddToBasket","Basket", new { id = bestseller.CourseId })">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="courseDetailsLink" href="@Url.Action("Details","Courses", new { id = bestseller.CourseId})">
                        <div class="bestsellerFlag"></div>
                        <img class="course" src="@Url.CoursesImagesPath(bestseller.ImageName)" />
                        <h1>
                            @bestseller.Name - @bestseller.Author
                        </h1>
                    </a>
                </article>
            </li>
        }
       
    </ul>
</section>

<section>
    <ul class="CoursesThreeColumns bigListCourses">
        @foreach (var newCourse in Model.NewCourses)
        {
            <li>
                <article>
                    <a class="addToBasketLink" href="@Url.Action("AddToBasket","Basket", new { id = newCourse.CourseId })">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="courseDetailsLink" href="@Url.Action("Details","Courses", new { id = newCourse.CourseId} )">
                        <div class="newFlag"></div>
                        <img class="course" src="@Url.CoursesImagesPath(newCourse.ImageName)" />
                        <h1>
                            @newCourse.Name - @newCourse.Author
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>





