<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
    <meta name="description" content="The description of my page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="basketHeaderLink" href="@Url.Content("~/Basket")">
                Basket (<span id="basket-header-items-amount">@Html.Action("GetBasketItemsAmount","Basket")</span>)
                <span></span>
            </a>
            
            @Html.Partial("_LoginPartial")

            <a id="indexHeaderLogo" href="@Url.Content("~/")">
                <img src="@Url.Content("~/Content/Images/logo.png")" class="center" />
            </a>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="@Url.Action("StaticPages","Home", new { name = "AboutUs" })">About Us</a></li>
                <li><a href="@Url.Action("StaticPages","Home", new { name = "Community" })">Community</a></li>
                <li><a href="@Url.Action("StaticPages","Home", new { name = "Reviews" })">Reviews</a></li>
                <li><a href="@Url.Action("StaticPages","Home", new { name = "Help" })">Help</a></li>
                <li><a href="@Url.Action("StaticPages","Home", new { name = "Regulations" })">Regulations</a></li>
                <li><a href="@Url.Action("StaticPages","Home", new { name = "Contact" })">Contact</a></li>
            </ul>
        </nav>
        <div id="footerLogo">
        </div>
        <div id="footerCopyright">
            Copyright &copy; 2017 Filip Kubat
        </div>
    </footer>

    @RenderSection("Scripts", required : false)
</body>
</html>