@model OnlineShop.Models.Course
@using OnlineShop.Infrastructure
@using MvcSiteMapProvider.Web.Html
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="CategoriesListContent">
    @Html.Action("CategoriesMenu")
    <div id="CategoriesListRightSection">
        <div id="Breadcrumb">
            <img src="../Content/Images/dommaly.png" />
            <a href="link">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>
        <section id="SectionCourse">
            <div id="CourseLeft">
                <img src="@Url.CoursesImagesPath(Model.ImageName)" />
            </div>
            <div id="CourseRight">
                <div id="CourseName">
                    <h1>
                        @Model.Name
                    </h1>
                    <h2>
                        @Model.Author
                    </h2>
                </div>
                <div id="CoursePrice">
                    <div>
                        @Model.Price<span>PLN</span>
                    </div>
                    <a href="@Url.Action("AddToBasket","Basket", new { id = Model.CourseId })"></a>
                </div>
                <div id="CourseDescription">
                    @Model.Description
                </div>
                <div id="CourseInfo">
                    @Model.ShortDescription
                </div>
            </div>
        </section>
    </div>
</div>

